{% extends "base.html" %}
{% load static %}

{% block title %}
{{ item.name }}
{% endblock %}


{% block content %}
<div class="block-item">
    <div class="basa-item">
        <div class="image-item">
                {% if product.image%}
                <img src="{{product.image.url}}" alt="My image" width="200" height="150">
                {% else %}
                <img src="{% static 'media/no_images.png' %}" alt="My image" width="200" height="150">
                {% endif %}
        </div>
        <div class="info-contener">
            <div class="info-item">
                <p>Товар: {{product.name}}</p>
                <p>Категория: {{product.categories}}</p>
                <p>Описание: {{product.description}}</p>
                <p>Цена: {{product.price}}</p>
            </div>
            <div class="btn-basket">
                <a href="{% url 'basket:add_to_basket' product.id %}">Добавить в корзину</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}